@import "tailwindcss";

@layer base {
  body {
    @apply antialiased bg-slate-100 text-slate-900;
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }

  aside, header, nav, .print\:hidden {
    display: none !important;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
